

  header {
    text-align: center;

  }
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 25px;
  }
body {

    background-color: bisque;
}

a :hover{
  transform: scale(1.023) ;
  box-shadow: 3px 6px 6px 0 rgba(0,0,0,.11);
}

