main {

}
button {
    background-color: #359471;
    border: none;
    color: white;
    padding: 50px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 32%;
  }
  header {
    text-align: center;

  }
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 25px;
  }
body {

    background-color: bisque;
}
a.btn{
  width: 400px;
  height: 150px;
  border-radius: 30px;
  background-color: aquamarine;
  display: block;  
}
a :hover{
  transform: scale(1.023) ;
  box-shadow: 3px 6px 6px 0 rgba(0,0,0,.11);
}
